.container-buttons{
	display: flex !important;
    flex-wrap: nowrap !important;
}
@media all and (max-width: 765px){
	.container-categories-main{

    	padding: 0;
	}
	.btn-categories{
		padding: 0;
	}
	.button-group{
		flex-basis: 0;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;

	    display: flex;
    	justify-content: center;

    }
	.a-categories{
	
	}
	.row{
		margin: 0;
	}
	.div-img-categories{
		height: 100%;
		padding: 0;

	}
	.img-categories{
		height: 120px;
		max-width: 100%;
		padding: 0;
	    min-width: 6.5rem;
	}
	.col-categories{
		padding-right: 0;
		margin-left: 1rem;
	}
	.list-group-item{
		padding: 0;
	}
	h4{
		font-size: 1rem;
	}
	.container-categories{
		padding: 0;
	}
	.img-thumbnail{
		border-radius: 0;
	}
	.product-price-info{
		display: flex;
	}
	.product-price-info-child{
		display: flex;
		justify-content: center;
	}

}

@media all and (max-width: 538px){
	.container-top-data{
		display: flex;
		flex-direction: column;
	}
	.container-buttons{
		display: flex !important;
	    flex-wrap: wrap !important;
	}
}


@media all and (max-width: 370px){
	.button-group{
    	margin: 1rem;
	}
}
